<!DOCTYPE html>
<html>
  <head>
    <title>PlangaRailsExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class="container">
    <br/>
    <h1>Planga.io Example Rails Application</h1>
    <% if user_signed_in? %>
      <hr/>
      <p>You are signed in as <%= current_user.full_name %></p>
    <% end %>
    <hr/>
    <%= yield %>
  </body>
</html>
